*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ::-webkit-scrollbar{
  display: none;
}
.hov a {
  color: rgb(152, 198, 245) !important;
}
    
}
.container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav {
  position: sticky;
  top: 0;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  height: 100px;
  width: 100%;
  /* border: 2px solid black; */
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  padding: 0px 60px;
  align-items: center;
  z-index: 3;
  /* color: white; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}
.one {
  font-size: 40px;
   font-family: "Chelsea Market", system-ui;
  font-weight: 400;
  font-style: normal;
 
}
.one a{
  color: black;
  text-decoration: none;
}
.one:hover{
     /* box-shadow: 0px 5px 8px rgba(0,0,0,0.3); */
}
.three a{
  font-size: 26px;
   color: black;
  text-decoration: none;
}
.color a{
  color: blueviolet;
}
.two {
  box-sizing: border-box;
  height: 80px;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 19px;
  font-size: 23px;
}
.two a{
  color: black;
  text-decoration: none;
  
}
.two div {
  margin-left: 28px;
}
.two div:hover{
    /* text-decoration: underline; */
    /* color: blue; */
      color: black;
   /* text-shadow: 0px 16px 18px gray; */
   
}
.section{
    height: 80vh;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
}
.left{
height: 80vh;
    width: 50%;
    margin: 40px;
}
.right{
height: 75vh;
width: 45%;
/* border: 2px solid black; */
margin: 40px;
padding: 50px;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
    
}
.left img{
    height: 100%;
    width:100%;
    /* object-fit: cover; */
}
.box{
  font-size: 40px;
  font-weight: 400;
}
.box1{
  margin-top: 10px;
   font-size: 20px;
  font-weight: 400;
  margin-top: 10px;
}
.nithin{
  width: 48%;
  height: 40px;
}
.nithin1{
  width: 48%;
   height: 40px;
}
.name{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
   margin-top: 18px;
}
.email{
  height:40px ;
  width: 98%;
   margin-top: 10px;
}
.address{
   height:80px ;
  width: 98%;
   margin-top: 10px;
}
.city{
   width: 48%;
  height: 40px;
   margin-top: 10px;

}
.pin{ 
  width: 48%;
  height: 40px;
   margin-top: 10px;

}
  .content{
     height:50px ;
  width: 98%;
  /* border: 1px solid black; */
   margin-top: 10px;

   /* justify-content: center; */
   display: flex;
   align-items: center;
   font-size: 17px;
   opacity: 0.7;



  }
  button{
     height:80px ;
  width: 98%;
  font-size:3vh ;
   margin-top: 10px;
   background-color: rgb(182, 182, 241);
   border-radius: 10px;
   border: none;

  }
  button:hover{
    cursor: pointer;

  }
.your{
     height:80px ;
  width: 98%;
  font-size:2vh ;
  text-align: center;
   margin-top: 10px;
  
}
.four{
  display: none;
}
@media screen and (min-width: 850px) and (max-width: 1120px) {
    .nav{
    padding: 0px 40px;
  }

  .one {
  font-size: 26px;
   font-family: "Chelsea Market", system-ui;
  font-weight: 300;
  font-style: normal;

 
}
.line-spacing{
  margin-top: 8px;
  font-size: 22px;

}
.three a{
  font-size: 22px;
   color: black;
  text-decoration: none;
}
 

}
@media screen and (min-width: 600px) and (max-width: 850px) {
.two{
  display: none;
}
.three{
  display: none;
}
.four{
  display: block;
  

}
.menudown{
    position: absolute;
    top: 70px;
    right: 50px;
     display: none;
 /* border: 2px silver solid; */
  background-color: rgb(234, 236, 239);
  transition: 0.6s;
   border-radius: 20px;
     
  }
 .menudown div{
  height: 30px;
  width: 120px;
  background-color: rgb(234, 236, 239);
  padding: 5px;
   cursor: pointer;
   box-sizing: border-box;
   transition: 0.6s;
   border-radius: 20px;
   
 }
 .menudown div a{
  color: black;
  text-decoration: none;
  transition: 2s;


 }
  .four:hover .menudown{
    display: block;
    transition: 2s;
  
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .menudown div:hover{
    text-align: center;

 
 background-color: rgb(0, 0, 0);
 a{
  color: rgb(238, 233, 233);
 }
  }
   .logo{
     display: block;
   position: absolute;
   top:42px;
   right: 47px;
   font-size: 25px;
   cursor: pointer;

   }
}

@media screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    overflow-x: hidden;
  }
  .two {
    display: none;
  }
  .three {
    display: none;
  }
  .four {
    display: block;
  }
  .menudown {
    position: absolute;
    top: 70px;
    right: 50px;
    display: none;

     background-color: rgb(238, 235, 235);
    transition: 0.6s;
    border-radius: 20px;
  }
  .menudown div {
   height: 45px;
    width: 170px;
    /* background-color: rgb(234, 236, 239); */
    padding: 15px;
    cursor: pointer;
    box-sizing: border-box;
    transition: 0.6s;
    border-radius: 20px;
  }
  .menudown div a {
    color: black;
    text-decoration: none;
    transition: 2s;
  }
  .four:hover .menudown {
    display: block;
    transition: 2s;

 
  }
  .menudown div:hover {
    text-align: center;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: rgb(0, 0, 0);
    a {
      color: rgb(238, 233, 233);
    }
  }
  .logo {
    display: block;
    position: absolute;
    top: 42px;
    right: 47px;
    font-size: 25px;
    cursor: pointer;
  }
  .section{
    height: auto;
  
    flex-direction: column;
}
.left{
height: 50vh;
    width: 100%;
    margin: 0px;
}
.right{
height: 70vh;
width: 100%;

margin: 0px;
padding: 50px;

    
}

}
